#contact {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .flex-wrapper {
      gap: 1rem;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        font: var(--body-sm);
        color: var(--text-body);
      }

      input {
        background-color: var(--input-base);
        color: var(--input-placeholder);
        height: 48px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--input-stroke);
        font: var(--body-md);
        padding-left: 16px;
      }

      input[type="text"]:focus,
      input[type="date"]:focus,
      input[type="email"]:focus,
      input[type="tel"]:focus,
      textarea:focus {
        border: 1px solid var(--brand-light);
      }
    }
  }
}

.title {
  display: flex;
  gap: 12px;
  align-items: center;

  svg {
    stroke: var(--input-placeholder);
    width: 24px;
    height: 24px;
  }

  h2 {
    font: var(--heading-sm);
    color: var(--text-heading);
  }
}
