main {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  background-color: var(--shape-body);
  margin: 20px;
  border-radius: 12px;
  overflow-y: auto;

  .title-wrapper {
    width: 100%;
    max-width: 560px;
    margin: 0;
    h1 {
      font: var(--heading-md);
      color: var(--text-heading);
      text-align: left;
    }
  }

  form {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
